@{
    Layout = "_AuthorInterfaceLayout";
    ViewBag.ActiveTab = "overview";
}

@model ColumnRequestsOverviewViewModel

<div class="col-12">
    <partial name="Alert" />
</div>

<div class="col-md-4 col-12 mb-3">
    <div class="card bg-light">
        <div class="list-group">
            <div class="list-group-item card-header bg-light">
                <h3 class="my-0 text-muted">
                    Skice
                    <span class="float-right">
                        <a class="text-muted" asp-action="NewColumnRequest" asp-controller="AuthorInterface">
                            <i class="fa fa-plus"></i>
                        </a>
                    </span>
                </h3>
            </div>
            @foreach (var req in Model.DraftRequests)
            {
                <a asp-action="EditColumnRequest" asp-route-id="@req.Id" class="text-white-50 list-group-item bg-light">
                    @req.ColumnTitle
                </a>
            }
        </div>
    </div>
</div>

@if (Model.PendingRequests.Count > 0)
{
    <div class="col-md-4 col-12 mb-3">
        <div class="card bg-warning">
            <div class="list-group text-primary">
                <div class="list-group-item card-header bg-light">
                    <h3 class="my-0 text-warning">
                        Čeka odobrenje
                    </h3>
                </div>
                @foreach (var req in Model.PendingRequests)
                {
                    <a asp-action="EditColumnRequest" asp-route-id="@req.Id" class="text-muted list-group-item text-primary bg-light">
                        @req.ColumnTitle
                    </a>
                }
            </div>
        </div>
    </div>
}

@if (Model.RevisedRequests.Count > 0)
{
    <div class="col-md-4 col-12 mb-3">
        <div class="card bg-warning">
            <div class="list-group">
                <div class="list-group-item card-header bg-light">
                    <h3 class="my-0 text-warning">Revidirano</h3>
                </div>
                @foreach (var req in Model.RevisedRequests)
                {
                    <a asp-action="EditColumnRequest" asp-route-id="@req.Id" class="text-muted list-group-item bg-light">
                        @req.ColumnTitle
                    </a>
                }
            </div>
        </div>
    </div>
}


@if (Model.RejectedRequests.Count > 0)
{
    <div class="col-md-4 col-12 mb-3">
        <div class="card bg-danger">
            <div class="list-group">
                <div class="list-group-item card-header bg-light">
                    <h3 class="my-0 text-danger">Odbijeno</h3>
                </div>
                @foreach (var req in Model.RejectedRequests)
                {
                    <a asp-action="EditColumnRequest" asp-route-id="@req.Id" class="text-muted list-group-item bg-light">
                        @req.ColumnTitle
                    </a>
                }
            </div>
        </div>
    </div>
}

@if (Model.ApprovedRequests.Count > 0)
{
    <div class="col-md-4 col-12 mb-3">
        <div class="card bg-success">
            <div class="list-group">
                <div class="list-group-item card-header bg-light">
                    <h3 class="my-0 text-success">Odobreno</h3>
                </div>
                @foreach (var req in Model.ApprovedRequests)
                {
                    <a asp-action="EditColumnRequest" asp-route-id="@req.Id" class="text-muted list-group-item bg-light">
                        @req.ColumnTitle
                    </a>
                }
            </div>
        </div>
    </div>
}
