@{
    Layout = "_AuthorInterfaceLayout";
}

@model ColumnRequest


<div class="col-md-4 col-12">
    <form asp-action="SaveColumnRequest" asp-controller="AuthorInterface">
        <div class="form-group">
            <label class="form-text text-muted">Naslov</label>
            <input id="title-input" asp-for="ColumnTitle" class="form-control"
                   placeholder="Naslov kolumne" />
        </div>

        <div class="form-group">
            <label class="form-text text-muted">Slika</label>
            <input id="image-input" asp-for="ColumnImage" class="form-control"
                   placeholder="Link na naslovnu sliku" />
        </div>

        <div class="form-group">
            <label class="form-text text-muted">Tekst</label>
            <textarea rows="15" id="text-input" asp-for="ColumnText" class="form-control"
                      placeholder="Sadržaj kolumne"></textarea>
        </div>

        <div class="form-group">
            <label class="form-text text-muted">Napomena</label>
            <textarea id="text-input" asp-for="AuthorRemarks" class="form-control"
                      placeholder="Ako imate bilo kakvu napomenu, upišite je ovdje"></textarea>
        </div>

        <button class="btn btn-primary btn-block" type="submit" name="command" value="save">
            <span class="fa fa-save mr-1"></span>
            Spremi kao skicu
        </button>
        @if (Model.Status == ColumnRequestStatus.Draft)
        {
            <button class="btn btn-success btn-block my-2" type="submit" name="command" value="saveAndSend">
                <span class="fa fa-paper-plane mr-1"></span>
                Spremi i pošalji
            </button>
            <button type="button" class="btn btn-danger btn-block my-2" data-toggle="modal" data-target="#confirmDelete">
                <span class="fa fa-trash mr-1"></span>
                Izbriši
            </button>
        }

        <input id="title-input" asp-for="Id" class="form-control" hidden />
        <input id="title-input" asp-for="Author.Name" class="form-control" hidden />
        <input id="title-input" asp-for="Author.ShortBio" class="form-control" hidden />
        <input id="title-input" asp-for="Author.Bio" class="form-control" hidden />
        <input id="title-input" asp-for="Author.Image" class="form-control" hidden />
    </form>
</div>



<!-- Confirm deletion modal -->
<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Potvrda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Jeste li sigurni da želite izbrisati ovu skicu?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <a class="btn btn-danger"asp-action="RemoveColumnRequest" asp-route-id="@Model.Id">Izbriši skicu</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8 col-12" id="preview">
    <div class="card">
        <img id="image" class="card-img-top img-fluid" src="@Model.ColumnImage" />
        <div class="card-body">
            <div class="card-title">
                <h1 id="title">@Model.ColumnTitle</h1>
            </div>
            <span class="float-right text-muted">@Model.DateRequested.ToString("dd.MM.yyyy.")</span>
            <div class="text-muted">
                Piše: <span id="author">@Model.Author.Name</span>
            </div>

            <hr class="bg-secondary" />
            <div class="text-body" id="text">@Html.Raw(Model.ColumnText)</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        refresh();

        $('.form-control').on('input', function (e) {
            refresh();
        });
    });

    function refresh() {
        $("#title").text($("#title-input").val());
        $("#text").html($("#text-input").val());
        $("#image").attr("src", $("#image-input").val());
    }
</script>
