@{
    Layout = "_AuthorInterfaceLayout";
    ViewBag.ActiveTab = "index";
}

@model AuthorInterfaceIndexViewModel

<div class="col-12">
    <partial name="Alert" />
</div>

<div class="col-lg-4 col-md-6 col-12 text-center">
    <partial name="Profile" model="Model.Author" />
</div>
<div class="col-lg-4 col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="my-0">Zahtjevi</h3>
        </div>
        <div class="list-group">
            <a asp-action="ColumnRequestsOverview" class="list-group-item d-flex justify-content-between align-items-center text-white">
                Skice
                <span class="badge badge-secondary badge-pill">@Model.DraftRequests.Count</span>
            </a>
            <a asp-action="ColumnRequestsOverview" class="list-group-item d-flex justify-content-between align-items-center text-warning">
                Revidirano
                <span class="badge badge-secondary badge-pill">@Model.RevisedRequests.Count</span>
            </a>
            <a asp-action="ColumnRequestsOverview" class="list-group-item d-flex justify-content-between align-items-center text-warning">
                Čeka odobrenje
                <span class="badge badge-secondary badge-pill">@Model.PendingRequests.Count</span>
            </a>
            <a asp-action="ColumnRequestsOverview" class="list-group-item d-flex justify-content-between align-items-center text-danger">
                Odbijeno
                <span class="badge badge-secondary badge-pill">@Model.RejectedRequests.Count</span>
            </a>
            <a asp-action="ColumnRequestsOverview" class="list-group-item d-flex justify-content-between align-items-center text-success   ">
                Odobreno
                <span class="badge badge-secondary badge-pill">@Model.ApprovedRequests.Count</span>
            </a>
        </div>
    </div>
</div>