@model Author

<div class="card mb-3 bg-light">
    <img src="@Model.Image" class="card-img-top" />
    <div class="card-body">
        <h1 class="text-primary">@Model.Name</h1>
        <h3 class="text-muted">@Model.ShortBio</h3>
        <hr class="my-4 bg-secondary" />
        <p>@Model.Bio</p>
    </div>
    <div class="card-footer">

        <button class="btn btn-primary btn-block" onclick="toggleMenu('profileForm')">
            <span class="fa fa-user mr-1"></span>
            Uredi profil
        </button>

        <button class="btn btn-primary btn-block" onclick="toggleMenu('changePasswordForm')">
            <span class="fa fa-key mr-1"></span>
            Promijeni lozinku
        </button>

        <div class="my-3" id="changePasswordForm" style="display:none">
            <partial name="ChangePassword" model="@(new ChangePasswordViewModel("", "", ""))" />
        </div>

        <form asp-action="EditProfile" asp-controller="AuthorInterface" id="profileForm" style="display:none" method="post"
              class="mt-3 text-left">
            <div class="form-group">
                <label class="form-text text-muted">Slika</label>
                <div><span asp-validation-for="Image" class="text-danger"></span></div>
                <input id="title-input" asp-for="Image" class="form-control"
                       placeholder="http://imgur.com/sdfs89s.png" />
            </div>

            <div class="form-group">
                <label class="form-text text-muted">Kratak opis</label>
                <div><span asp-validation-for="ShortBio" class="text-danger"></span></div>
                <input id="image-input" asp-for="ShortBio" class="form-control"
                       placeholder="Kratka rečenica prikazana ispod imena" />
            </div>

            <div class="form-group">
                <label class="form-text text-muted">Opis</label>
                <div><span asp-validation-for="Bio" class="text-danger"></span></div>
                <textarea rows="3" id="text-input" asp-for="Bio" class="form-control"
                          placeholder="Opširni opis (o vama, zanimanja, interesi, utjecaji...)"></textarea>
            </div>

            <button class="btn btn-success btn-block" type="submit" name="command" value="save">
                <span class="fa fa-save mr-1"></span>
                Spremi
            </button>

            <input id="title-input" asp-for="Id" class="form-control" hidden />
            <input id="title-input" asp-for="Name" class="form-control" hidden />
        </form>
    </div>
</div>

<script>
    function toggleMenu(menuId) {
        let profileFormHidden = $('#profileForm').css('display') == 'none';
        let changePasswordFormHidden = $('#changePasswordForm').css('display') == 'none';

        // If both forms are hidden, animate
        if (profileFormHidden && changePasswordFormHidden) {
            $('#' + menuId).toggle('fast');
            scrollToAnchor(menuId);
        } else {
            // If it's the same button again (closing), animate
            if ($('#' + menuId).css('display') != 'none') {
                $('#' + menuId).toggle('fast');
            }
            // Otherwise, switch between them without animating
            else {
                $('#' + menuId).toggle();

                if (menuId == 'profileForm') {
                    $('#changePasswordForm').hide();
                } 

                if (menuId == 'changePasswordForm') {
                    $('#profileForm').hide();
                } 
            }
        }
    }
</script>