@model BoardPostViewModel

@{
    string time = Model.Post.DatePosted.ToString("dd.MM.yyyy. HH:mm");
    bool containsImage = !string.IsNullOrEmpty(Model.Post.Image);
}


    <div class="pb-2" id="@Model.Post.Id">
        <div class="card bg-light">
            <div class="card-header p-0">
                <button class="btn btn-link" onclick="quote(@Model.Post.Id)">
                    #@Model.Post.Id
                </button>
                <span class="float-right pt-2 pr-2 text-secondary">@time</span>
            </div>
            <div class="">
                @if (containsImage)
                {
                <a onclick="toggleImage('@Model.Post.Id')" id="img-@Model.Post.Id" style="display:none">
                    <img src="~/images/@Model.Post.Image" class="img-fluid" />
                </a>
                <a onclick="toggleImage('@Model.Post.Id')" id="thumb-@Model.Post.Id">
                    <img src="~/images/@Model.Post.Image" class="img-fluid float-left mr-3"
                         style="max-height:120px;border-bottom-left-radius:3px;" />
                </a>
                }
                <div class="card-body ml-2">
                    <post-text text="@Model.Post.Text"></post-text>
                </div>
            </div>
            @await Component.InvokeAsync("PostResponses", Model)
        </div>
    </div>

<script>
    function toggleImage(id) {
        $('#img-' + id).toggle();
        $('#thumb-' + id).toggle();
    }
</script>