@model BoardThread

@{
    BoardPost post = Model.Posts.OrderBy(p => p.DatePosted).First();
    var time = post.DatePosted.ToString("dd.MM.yyyy. HH:mm");
    var containsImage = !string.IsNullOrEmpty(post.Image);
    var image = "" + post.Image;
    var isUrl = image.StartsWith("http");
}

    <div class="card text-center mb-2 bg-light" style="min-width: 15rem;">
        <a asp-action="Thread" asp-route-id="@Model.Id" asp-controller="Board">
            <div class="card-header">
                #@post.Id | @time
            </div>
            @if (containsImage)
            {
                <div class="card-img text-center">
                    <img src="@(isUrl ? post.Image : $"~/images/{post.Image}")" class="img-fluid" style="max-height:200px" />
                </div>
            }
        </a>

        <div class="card-body text-sm-center m-0 p-0">
            <div class="text-center text-secondary">
                <br />
                <span>Odg: @Model.PostCount | Sli: @Model.ImageCount</span>
            </div>
            <div class="text-center m-2 p-1">
                <div>
                    <thread-post-text text="@post.Text"></thread-post-text>
                </div>
            </div>
        </div>

    </div>





