@model BoardThread

@{
    BoardPost post = Model.Posts.FirstOrDefault();
    string time = $"{post.DatePosted.ToShortDateString()} {post.DatePosted.ToShortTimeString()}";
    bool containsImage = !string.IsNullOrEmpty(post.Image);
}

<div>
    <div class="card text-center">
        <div class="card-header">
            <a asp-action="Thread" asp-route-id="@post.Id" asp-controller="Board">
                #@post.Id | @time
            </a>
        </div>
        @if (containsImage)
        {
            <div class="card-img text-center">
                <a asp-action="Thread" asp-route-id="@post.Id" asp-controller="Board">
                    <img src="~/images/@post.Image" class="img-fluid" style="max-height:200px" />
                </a>
            </div>
        }

        <div class="card-body text-sm-center m-0 p-0">
            <div class="text-center">
                <br />
                <span class="text-info">Odg: @Model.PostCount</span>
                <span class="text-info"> | Sli: @Model.ImageCount</span> <br />
            </div>
            <div class="text-center m-2 p-1">
                <div>
                    <thread-post-text text="@post.Text"></thread-post-text>
                </div>
            </div>
        </div>
    </div>
</div>





