@model ColumnPost

<h1 id="title" class="display-4 font-weight-bold text-left mb-4">
    @Model.Title
</h1>
<div class="mb-5">
    <img src="@Model.Author.Image" class="rounded-circle mr-3 float-left" style="max-width:5rem;" />
    <a class="h4 text-primary"
       asp-action="Author" asp-controller="Column" asp-route-id="@Model.Author.Id">
        @Model.Author.Name
    </a>
    <p class="text-secondary">@Model.DatePosted.ToShortDateString().Replace('/', '.')</p>
</div>
<img id="image" src="@Model.Image" class="img-fluid mb-4" />
<div id="text" class="mt-4 column-post text-white font-weight-light" style="initial-letter:3">
    @Html.Raw(Model.Text)
</div>