@{
    ViewBag.Title = Model.Title;
}

@model ColumnPost

<div class="p-3"></div>
<div class="row">
    <div class="col-12 col-md-8">
        <div class="card">
            <img class="card-img-top img-fluid" src="@Model.Image" />
            <div class="card-body">
                <div class="card-title">
                    <h1>@Model.Title</h1>
                </div>
                <span class="float-right text-muted">@Model.DatePosted.ToString("dd.MM.yyyy.")</span>
                <div class="text-muted">
                    Piše:
                    <a asp-action="Author" asp-controller="Column" asp-route-id="@Model.Author.Id">
                        @Model.Author.Name
                    </a>
                </div>

                <hr class="bg-secondary" />
                <p>@Html.Raw(Model.Text)</p>
            </div>
        </div>

        <div class="p-2"></div>

        <div id="comment">
            <partial name="ColumnAddComment"
                     model="@new ColumnRespondViewModel { ColumnId = Model.Id, Comment = new Comment()}" />
        </div>

        <div class="p-2"></div>

        @if (Model.Comments.Count > 0)
        {
            @foreach (var comment in Model.Comments.OrderByDescending(p=>p.DatePosted))
            {
                <partial name="Comment" model="comment" />

                <div class="p-1"></div>
            }
        }
    </div>
</div>

@if (ViewBag.CommentPosted != null)
{
    <script>scrollToAnchor("comment");</script>
}
