@{ 
    ViewBag.Title = "Bazirano";
}

@model HomePageViewModel

<div class="p-3"></div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="text-center d-flex align-items-end">
                <img class="img-fluid position-relative rounded" src="@Model.MainPost.Image">
                <a class="text-white position-absolute p-3"
                   asp-action="Article" asp-controller="News" asp-route-id="@Model.MainPost.Id">
                    <h3 class="text-left" style="text-shadow: black 0.1em 0.1em 0.2em;">
                        @Model.MainPost.Title
                    </h3>
                </a>
            </div>
        </div>
        <div class="p-3"></div>
        <div class="col-12">
            @foreach (var post in Model.PopularPosts)
            {
            <div class="row rounded bg-light">
                <a class="col-4 p-0 "
                   asp-action="Article" asp-route-id="@post.Id" asp-controller="News">
                    <img class="rounded-left img-fluid" src="@post.Image" />
                </a>
                <div class="col-8 card-text p-2">
                    <a class="text-white"
                       asp-action="Article" asp-route-id="@post.Id" asp-controller="News">
                        <h4>@post.Title</h4>
                    </a>
                    <small class="text-muted">@post.DatePosted</small>
                </div>
            </div>
            <br />
            }
        </div>

    </div>
    <div class="col-6 col-md-3">
        @foreach (var thread in Model.Threads.Take(3))
        {
        <partial name="BoardThreadPost" model="@thread" />
        <div class="p-1"></div>
        }
    </div>
    <div class="col-6 col-md-3">
        @foreach (var thread in Model.Threads.TakeLast(3))
        {
        <partial name="BoardThreadPost" model="@thread" />
        <div class="p-1"></div>
        }
    </div>

</div>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("[id$=homeNav]").addClass("active");
    });
</script>

