@{
    ViewBag.Title = "Bazirano";
}

@model HomePageViewModel

<div class="p-3"></div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card bg-transparent">
            <img class="img-fluid" src="@Model.MainPost.Image" alt="Naslovna slika">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <a asp-action="Article" asp-controller="News" asp-route-id="@Model.MainPost.Id"
                   class="text-white align-text-bottom" style="text-shadow: black 0.1em 0.1em 0.2em;">
                    <h3 class="card-title">@Model.MainPost.Title</h3>
                </a>
            </div>
        </div>
        <div class="p-3"></div>
        <div class="container p-0 pr-2">
            <div class="row">
                @foreach (var post in Model.PopularPosts)
                {
                    <a class="col-4 pb-4"
                       asp-action="Article" asp-route-id="@post.Id" asp-controller="News">
                        <img class="img-fluid" src="@post.Image" />
                    </a>
                    <div class="col-8 pb-4">
                        <a class="text-primary"
                           asp-action="Article" asp-route-id="@post.Id" asp-controller="News">
                            <h5>@post.Title</h5>
                        </a>
                        <small class="text-muted">@post.DatePosted</small>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="card rounded-0 mb-2">
            @{
                var firstColumn = Model.ColumnPosts.First();
                Model.ColumnPosts.RemoveAt(0);
            }
            <img class="img-fluid" src="@firstColumn.Image" alt="Naslovna slika">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <a asp-action="ColumnPost" asp-controller="Column" asp-route-id="@firstColumn.Id"
                   class="text-white align-text-bottom" style="text-shadow: black 0.1em 0.1em 0.2em;">
                    <h3 class="card-title">@firstColumn.Title</h3>
                </a>
            </div>
        </div>

        @foreach (var column in Model.ColumnPosts)
        {
            <div class="container mb-2 p-0" >
                <div class="row p-0">
                    <div class="col-4">
                        <img class="img-fluid " src="@column.Image" />
                    </div>
                    <div class="col-8 card-body pl-2 py-1">
                        <a asp-action="ColumnPost" asp-controller="Column" asp-route-id="@column.Id">
                            <h5>@column.Title</h5>
                        </a>
                        <a class="text-secondary" asp-action="Author" asp-controller="Column" asp-route-id="@column.Author.Id">
                            @column.Author.Name
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-12 border-bottom border-light mb-4"></div>

    @foreach (var thread in Model.Threads)
    {
        <div class="col-12 col-md-4 col-lg-3">
            <partial name="BoardThreadPost" model="@thread" />
        </div>
    }

</div>


<div class="p-2"></div>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("[id$=homeNav]").addClass("active");
    });
</script>

