@model AddColumnViewModel

@{
    Layout = "_AdminLayout";
    string value = "Id";
    string text = "Name";
}
<div class="row">
    <div class="col-md-4 col-12">
        <form asp-action="SaveColumn" asp-controller="Admin">
            <div class="form-group">
                <label class="form-text">Autor</label>
                <select id="author-input" class="form-control" asp-for="Column.Author.Id" asp-items="@new SelectList(Model.Authors, value, text)">
                    <option disabled selected value="">Odaberi autora</option>
                </select>

                <br />
                <label class="form-text">Naslov</label>
                <input id="title-input" asp-for="Column.Title" class="form-control" />

                <br />
                <label class="form-text">Slika</label>
                <input id="image-input" asp-for="Column.Image" class="form-control" />

                <br />
                <label class="form-text">Tekst</label>
                <textarea rows="15" id="text-input" asp-for="Column.Text" class="form-control"></textarea>

                <input class="form-control invisible" asp-for="Column.Id" value="@Model.Column.Id" readonly />

                <button class="btn btn-primary" onclick="refresh()" type="button">Osvježi prikaz</button>

                <button class="btn btn-success" type="submit">Spremi</button>

            </div>
        </form>
        

    </div>

    <div class="col-md-8 col-12" id="preview">
        <div class="card">
            <img id="image" class="card-img-top img-fluid" src="@Model.Column.Image" />
            <div class="card-body">
                <div class="card-title">
                    <h1 id="title">@Model.Column.Title</h1>
                </div>
                <span class="float-right text-muted">@Model.Column.DatePosted.ToString("dd.MM.yyyy.")</span>
                <div class="text-muted">
                Piše: <span id="author">@Model.Column.Author.Name</span>
                </div>

                <hr class="bg-secondary" />
                <div id="text">@Html.Raw(Model.Column.Text)</div>
            </div>
        </div>
    </div>
</div>


<div id="div1"></div>

<script type="text/javascript">

    $(document).ready(function () {
        //refresh();

        $('.form-control').on('input', function (e) {
           // refresh();
        });

    });

    function refresh() {
        $("#title").text($("#title-input").val());
        $("#author").text($("#author-input option:selected").text());
        $("#text").html($("#text-input").val());
        $("#image").attr("src", $("#image-input").val());

    }

</script>
