@model IEnumerable<BoardThread>
@{
    Layout = "_AdminLayout";
}

    <div class="row">
        <h3 class="col-12">Ploča</h3>

        @foreach (var t in Model)
        {
            var firstPost = t.Posts.OrderBy(p => p.DatePosted).First();
            <div class="col-12 col-lg-6">
                <div class="card" onclick="$('#threadMenu-@t.Id').toggle('fast')">
                    <div class="card-header text-muted">
                        <span>@firstPost.DatePosted</span>
                        <div class="float-right">
                            <span class="fa fa-flag @(t.SafeForWork ? "text-success" : "text-danger")"></span>
                            @firstPost.Id
                        </div>
                    </div>
                    <div class="card-body">
                        <h5>@firstPost.Text</h5>
                    </div>
                    <div class="card-footer" id="threadMenu-@t.Id" style="display:none">
                        <a class="btn btn-danger" asp-action="DeleteBoardThread" asp-route-id="@t.Id">
                            <span class="fa fa-trash"></span> Izbriši
                        </a>
                        <div class="float-right">
                            @if (t.SafeForWork)
                            {
                                <a class="btn btn-danger" asp-action="ToggleBoardThreadSafeForWork" asp-route-id="@t.Id">
                                    <span class="fa fa-flag"></span> Nesigurno za posao
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-success" asp-action="ToggleBoardThreadSafeForWork" asp-route-id="@t.Id">
                                    <span class="fa fa-flag"></span> Sigurno za posao
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 col-6 col-lg-12"></div>
        }
    </div>