
@{
    Layout = "_AdminLayout";
}
@model AdminColumnViewModel

<div class="row">
    <div class="col-12">
        <partial name="Alert" />
    </div>

    <div class="col-12 col-lg-4">
        <div class="row">
            <div class="col-6">
                <h3>Kolumne</h3>
            </div>
            <div class="col-6">
                <a class="btn btn-success float-right" asp-action="AddColumn" asp-controller="Admin">
                    Dodaj kolumnu
                </a>
            </div>

            @foreach (var c in Model.ColumnPosts)
            {
                <div class="col-12" onclick="$('#columnMenu-@c.Id').toggle('fast')">
                    <div class="card">
                        <div class="card-header text-muted">
                            <span>@c.Author.Name</span>
                            <span class="float-right"> @c.Id</span>
                        </div>
                        <div class="card-body pb-1">
                            <h5>@c.Title</h5>
                        </div>
                        <div class="card-footer" id="columnMenu-@c.Id" style="display:none">
                            <a class="btn btn-primary" asp-action="EditColumn" asp-route-id="@c.Id">
                                <span class="fa fa-pencil-alt"></span>
                                Uredi
                            </a>
                            <a class="btn btn-danger" asp-action="DeleteColumn" asp-route-id="@c.Id">
                                <span class="fa fa-trash-alt"></span>
                                Izbriši
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-1"></div>
            }
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="row">
            <div class="col-6">
                <h3>Autori</h3>
            </div>
            <div class="col-6">
                <a class="btn btn-success float-right" asp-action="AddAuthor" asp-controller="Admin">
                    Dodaj autora
                </a>
            </div>

            @foreach (var a in Model.Authors)
            {
                <div class="col-12" onclick="$('#authorMenu-@a.Id').toggle('fast')">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h4>@a.Name</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-muted">@a.ShortBio</h5>
                            <hr />
                            <h5 class="text-muted">@a.Bio</h5>
                        </div>
                        <div class="card-footer" id="authorMenu-@a.Id" style="display:none">
                            <a class="btn btn-primary"asp-action="EditAuthor" asp-route-id="@a.Id">
                                <span class="fa fa-pencil-alt"></span>
                                Uredi 
                            </a>
                            <a class="btn btn-danger"
                               asp-action="DeleteAuthor" asp-route-id="@a.Id">
                                <span class="fa fa-trash-alt"></span>
                                Izbriši
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-1"></div>
            }
        </div>
        
    </div>
    <div class="col-12 col-lg-4">
        @{ var pendingRequests = Model.ColumnRequests.Where(r => r.Status == ColumnRequestStatus.Pending);}
        <h3 class="ml-0">Zahtjevi</h3>
        @if (pendingRequests.Count() == 0)
        {
            <p class="text-muted">Nema zahtjeva koji čekaju odobrenje.</p>
        }

        @foreach (var r in pendingRequests) 
        {
            <div class="card mb-2">
                <div class="card-header">
                    <span class="text-info">
                        @r.Author?.Name
                    </span>
                    <span class="float-right text-muted">
                        @r.DateRequested.ToEuTimeFormat()
                    </span>
                </div>
                <div class="card-body">
                    <a asp-action="ColumnRequest" asp-route-id="@r.Id">
                        @r.ColumnTitle
                    </a>
                </div>
            </div>
        }
    </div>
</div>