
@{
    Layout = "_AdminLayout";
}
@model AdminColumnViewModel

<div class="row">
    <div class="col-12 col-lg-6 container">
        <div class="row">
            <div class="col-6">
                <h3>Kolumne</h3>
            </div>
            <div class="col-6">
                <a class="btn btn-success float-right" asp-action="AddColumn" asp-controller="Admin">
                    Dodaj kolumnu
                </a>
            </div>

            @foreach (var c in Model.ColumnPosts)
            {
                <div class="col-12">
                    <div class="card">
                        <div class="card-header text-muted">
                            <span>@c.Author.Name</span> 
                            <span class="float-right"> @c.Id</span>
                        </div>
                        <div class="card-body pb-1">
                            <div class="row">
                                <div class="col-9">
                                    <h5>@c.Title</h5>
                                </div>
                                @{ string id = $"columnMenu{c.Id}"; }
                                <div id="@id" class="col-3">
                                 <div class="container float-right ">
                                        <div class="row float-right">
                                            <a class="col-6 btn btn-toolbar" style="color:forestgreen"
                                                    asp-action="EditColumn" asp-route-id="@c.Id">
                                                <h3 class="fa fa-pencil"></h3>
                                            </a>
                                            <a class="col-6 btn btn-toolbar" style="color:orangered"
                                                    asp-action="DeleteColumn" asp-route-id="@c.Id">
                                                <h3 class="fa fa-trash"></h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-1"></div>
            }
        </div>
    </div>
    <div class="col-12 col-lg-6 container">
        <div class="row">
            <div class="col-6">
                <h3>Autori</h3>
            </div>
            <div class="col-6">
                <a class="btn btn-success float-right" asp-action="AddAuthor" asp-controller="Admin">
                    Dodaj autora
                </a>
            </div>

            @foreach (var a in Model.Authors)
            {
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h4>@a.Name</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="text-muted">@a.ShortBio</h5>
                                    <hr />
                                    <h5 class="text-muted">@a.Bio</h5>
                                </div>
                                <div class="col-3">
                                    <div class="container float-right ">
                                        <div class="row float-right">
                                            <a class="col-6 btn btn-toolbar" style="color:forestgreen" 
                                                    asp-action="EditAuthor" asp-route-id="@a.Id">
                                                <h3 class="fa fa-pencil"></h3>
                                            </a>
                                            <a class="col-6 btn btn-toolbar" style="color:orangered" 
                                                    asp-action="DeleteAuthor" asp-route-id="@a.Id">
                                                <h3 class="fa fa-trash"></h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-1"></div>
            }
        </div>
        
    </div>
</div>