@model IEnumerable<Article>
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-6">
        <h3>Vijesti</h3>
        <div class="list-group">
            @foreach (var p in Model)
            {
                <div class="list-group-item">
                    <div onclick="$('#@p.Id').toggle('fast')">
                        <span class="text-muted">@p.DatePosted.ToShortTimeString()</span>
                        <span class="text-white">@p.Title</span>
                    </div>
                    <div id="@p.Id" class="pt-2" style="display:none">
                        <a class="btn btn-success" asp-action="EditArticle" asp-route-id="@p.Id">
                            <span class="fa fa-pencil-alt"></span> Uredi
                        </a>
                        <a class="btn btn-danger" asp-action="DeleteArticle" asp-route-id="@p.Id">
                            <span class="fa fa-trash"></span> Izbriši
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>






