@model Article
@using Bazirano.Infrastructure

@{TimeDisplay time = TimeHelper.GetTimeDisplayFromTimeElapsed(@DateTime.Now - Model.DatePosted); }

    <div class="container-fluid">
        <div class="row border-light border-bottom pb-3">
            <div class="col-2 col-md-12 text-primary text-center text-md-left">
                <span class="text-center">@time.Number @time.Text</span>
            </div>
            <div class="col-10 col-md-12">
                <a class="text-secondary" asp-action="Article" asp-route-id="@Model.Id">
                    @Model.Title
                </a>
            </div>
        </div>

    </div>

