@model Article

<div class="card">
    <a asp-action="Article" asp-route-id="@Model.Id">
        <img class="card-img-top" src="@Model.Image" />
    </a>
    <a class="text-white" asp-action="Article" asp-route-id="@Model.Id">
        <h4 class="p-2">@Model.Title</h4>
    </a>
    <small class="text-muted p-2">@Model.DatePosted.ToString("dd.MM.yyyy. HH:mm")</small>
</div>