@model NewsPageViewModel

<a asp-action="Article" asp-route-id="@Model.MainPost.Id">
    <img class="img-fluid mb-3" src="@Model.MainPost.Image">
</a>
<a class="text-primary" asp-action="Article" asp-route-id="@Model.MainPost.Id">
    <h3 class="card-title">@Model.MainPost.Title</h3>
</a>
<p class="card-text text-secondary">@Model.MainPost.Summary</p>
<small class="text-secondary">@Model.MainPost.DatePosted.ToString("dd.MM.yyyy. HH:mm")</small>
<small class="text-secondary float-right">@Model.MainPost.Source.DisplayName()</small>