@model Article

<div>
    <a asp-action="Article" asp-route-id="@Model.Id">
        <img class="img-fluid pb-3" src="@Model.Image" />
    </a>
    <a class="text-primary" asp-action="Article" asp-route-id="@Model.Id">
        <h4>@Model.Title</h4>
    </a>
    <small class="text-muted">@Model.DatePosted.ToString("dd.MM.yyyy. HH:mm")</small>
</div>