@model NewsPageViewModel

<div class="card">
    <a asp-action="Article" asp-route-id="@Model.MainPost.Id">
        <img class="card-img-top" src="@Model.MainPost.Image">
    </a>
    <div class="card-body">
        <a class="text-white" asp-action="Article" asp-route-id="@Model.MainPost.Id">
            <h3 class="card-title">@Model.MainPost.Title</h3>
        </a>
        <p class="card-text">@Model.MainPost.Summary</p>
        <small class="text-muted">@Model.MainPost.DatePosted</small>
        <br /> <br />

        @if (Model.MainPostRelatedPosts != null && Model.MainPostRelatedPosts.Count > 0)
        {
            <p class="text-dark font-weight-bold">VEZANE VIJESTI</p>

            @foreach (var post in Model.MainPostRelatedPosts)
            {
                <a asp-action="Article" asp-route-id="@post.Id">
                    <div class="p-2 border-top border-secondary">
                        @post.Title
                    </div>
                </a>
            }
        }
    </div>
</div>