@model Article

    <div class="row">
        <a class="col-4" 
           asp-action="Article" asp-route-id="@Model.Id" asp-controller="News">   
            <img class="img-fluid" src="@Model.Image"/>
        </a>
        <div class="col-8">
            <a class="text-primary" 
               asp-action="Article" asp-route-id="@Model.Id" asp-controller="News">
                <div>@Model.Title</div>
            </a>
            <small class="text-muted">@Model.DatePosted.ToString("dd.MM.yyyy. HH:mm")</small>
        </div>
    </div>